@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;600&family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playball&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
	font-size: 10px;
	font-family: 'Times New Roman', Times, serif;
}

a{
	text-decoration: none;
	color: #eee;
}

body{
	width: 100%;
	height: 100vh;
    background-color: #03010f;
	background-size: cover;
	position: relative;
    overflow-x: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 1rem;
	font-style: italic;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}


nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(24, 1, 1, 0.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}

.overlay.menu-open,
    nav.menu-open{
	display: flex;
	transform: scale(1);
	opacity: 1;
}

}

#about{
	font-family: 'Times New Roman', Times, serif;
}


.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.skill-lockup {
	max-width: 450px;
	width: 100%;
	float: left;
	margin-right: 40px;
}

.mr {
	margin-right: 0;
}

.mb {
	margin-bottom: 5px;
}

.skill-info {
	display: block;
	margin-bottom: 20px;
}

.skill-name {
	float: left;
	color: white;
	font-size: 1.5rem;
}

.skill-status {
	float: right;
	color: white;
	font-size: 1.5rem;
}
.skill-bar {
	display: block;
	max-width: 450px;
	width: 100%;
	height: 15px;
	background: #e3e3e5;
	clear: both;
	margin: 20px 0;
}

.skill-level {
	display: table;
	height: 15px;
}
.html, .css,
.angular, .python,
.frameworks, .soft {
	background: hsl(191, 87%, 42%);
}

.html {
	width: 85%;
	-webkit-animation: html 10s linear;
	animation: html 10s linear;
}

.css {
	width: 75%;
	-webkit-animation: css 10s linear;
	animation: css 10s linear;
}

.angular {
	width: 40%;
	-webkit-animation: angular 10s linear;
	animation: angular 10s linear;
}

.python {
	width: 50%;
	-webkit-animation: python 10s linear;
	animation: python 10s linear;
}

.frameworks {
	width: 75%;
	-webkit-animation: frameworks 10s linear;
	animation: frameworks 10s linear;
}

.soft {
	width: 70%;
	-webkit-animation: soft 10s linear;
	animation:soft 10s linear;
}


/*-----------------------
	Animations 
-------------------------*/ 
@-webkit-keyframes html {
	from { width: 0%; }
	to { width: 85%; }
}

@keyframes html {
	from { width: 0%; }
	to { width: 85%; }
}

/*-----------------------
	css Animation 
-------------------------*/
@-webkit-keyframes css {
	from { width: 0%; }
	to { width: 75%; }
}

@keyframes css {
	from { width: 0%; }
	to { width: 75%; }
}

/*-----------------------
	angular Animation 
-------------------------*/ 
@-webkit-keyframes angular {
	from { width: 0%; }
	to { width: 40%; }
}

@keyframes angular {
	from { width: 0%; }
	to { width: 40%; }
}

/*-----------------------
Python Animation 
-------------------------*/ 
@-webkit-keyframes python {
	from { width: 0%; }
	to { width: 50%; }
}

@keyframes python {
	from { width: 0%; }
	to { width: 50%; }
}

/*-----------------------
frameworks Animation  
-------------------------*/ 
@-webkit-keyframes frameworks {
	from { width: 0%; }
	to { width: 75%; }
}

@keyframes frameworks {
	from { width: 0%; }
	to { width: 75%; }
}

/*-----------------------
	soft Animation  
-------------------------*/ 
@-webkit-keyframes soft {
	from { width: 0%; }
	to { width: 70%; }
}

@keyframes soft {
	from { width: 0%; }
	to { width: 70%; }
}


/*-----------------------
	Media queries
-------------------------*/ 


@media screen and (max-width: 955px) {
	.skillset {
		padding: 20px;
	}
	.skill-lockup {
		max-width: 700px;
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	.skill-bar {
		max-width: 700px;
		width: 100%;
	}
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
    typing 3s steps(10, end) forwards;
    font-size: 1.6rem;
    width: 0;
    }
    @keyframes typing {
    from { width: 0 }
    to { width: 30% }
    }

.modal-content{
	color: white;
	background: rgba( 3, 0, 5, 0.05 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 1px );
	-webkit-backdrop-filter: blur( 1px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	font-family: 'Times New Roman', Times, serif;
}

footer {
	max-width: 1200px;
	margin: auto;
	color: #dddada;
}

.row4 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
	
}

.contact-info {
	font-weight: 100 !important;
	font-family: 'Times New Roman', Times, serif;
}

.contact-info #io {
	font-family: 'Times New Roman', Times, serif;
	margin-left: 10px;
	font-size: 17px;
	font-weight: 600;
}

a {
	text-decoration: none;
}
.contact-info h4  {
	margin-right: 10px;
	color: #fff;
	font-size: 16px;
}
.footing {
	margin-top: 50px !important;
	max-width: 1200px;
	margin: auto;
	text-align: center;
}


.contact-info p {
	font-size: 16px;
	font-weight: 100 !important;
	color: #dbdbdb;
}

.footing p {
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
}

.contact-info h4 i {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
	transition: 0.5s;
}

#copy {
	text-transform: lowercase;
}
.wave {
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}
@keyframes wave-animation {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(0);
	}
}
#big {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}
.icons i,
ion-icon {
	cursor: pointer;
}

.up-arrow {
	position: relative;
}
.arrow {
	position: absolute;
	right: 0;
	bottom: 50px;
}
.arrow {
	background: #1c1c8d;
	display: flex;
	justify-content: center;
	height: 40px;
	width: 40px;
	font-size: 35px;
	color: #fff;
	border-radius: 5px;
}
@media only screen and (max-width: 1300px) {
	.col-8 {
		flex-basis: 90%;
	}
}
@media only screen and (max-width: 1024px) {
	.title,
	.title5 {
		padding-left: 20px !important;
	}
	.container {
		max-width: 1000px !important;
		margin: auto !important;
	}
	.footing,
	.initial-6 {
		font-size: 12px;
	}
}
@media only screen and (max-width: 885px) {
	.row {
		text-align: center;
	}
	.initial-0 p {
		font-size: 13px;
	}
	.initial-4 {
		flex-basis: 80%;
		text-align: center;
		font-size: 12px;
		margin-top: 20px;
	}
	
	.social {
		justify-content: center;
	}
	.title,
	.title2 {
		text-align: center !important;
	}
	.title h1 {
		font-size: 2rem;
	}
	.icons {
		justify-content: center;
	}
	.col-8 {
		flex-basis: 80%;
		font-size: 12px;
	}
	.footing,
	.initial-6 {
		font-size: 12px;
	}
	.col {
		font-size: 12px;
	}

	.title5 {
		text-align: center;
	}
	.navbar {
		background: 0 0 !important;
	}
	.navbar2 .scrolled {
		background: 0 0 !important;
	}
	
	ul li {
		margin: 20px 10px;
	}
	.menu {
		display: inline-block;
	}
}
@media only screen and (max-width: 810px) {
	.arrow {
		right: 30px !important;
	}
}
@media only screen and (max-width: 768px) {
	.initial-1 img {
		margin-top: 50px !important;
		width: 80% !important;
	}
	.initial-2 img,
	.initial-7 {
		width: 80% !important;
	}
	.initial-8 {
		margin-top: 30px !important;
		text-align: center !important;
	}
	.main-button {
		margin-left: 20px !important;
		height: 45px !important;
	}
	.main-button2 {
		height: 45px !important;
	}
	.row {
		text-align: center;
	}
	.initial-0 p {
		font-size: 13px;
	}
	.initial-4 {
		flex-basis: 80%;
		text-align: center;
		font-size: 12px;
	}
	.initial-6 {
		margin-bottom: 20px !important;
	}
	.initial-0 button {
		height: 15px !important;
		font-size: 14px !important;
	}
	
	.title,
	.title2 {
		text-align: center !important;
	}
	.title h1 {
		font-size: 2rem;
	}
	.icons {
		justify-content: center;
	}
	.col-8 {
		flex-basis: 80%;
		font-size: 12px;
	}
	.footing,
	.initial-6 {
		font-size: 12px;
	}
	.col {
		font-size: 12px;
	}
	
	.menu {
		display: inline-block;
	}
}
@media only screen and (max-width: 450px) {
	#e {
		display: none !important;
	}
	.arrow {
		right: 110px !important;
		bottom: 130px;
	}
	.button button {
		height: 40px;
		width: 150px;
		font-size: 12px;
	}
	#btn2 {
		margin-top: 20px;
		margin-right: 20px;
	}
}
@media only screen and (max-width: 360px) {
	.arrow {
		right: 140px !important;
		bottom: 180px;
	}
	.main-button {
		margin-top: 100px !important;
	}
	.navi {
		padding-left: 0 !important;
	}
}
p {
	font-family: 'Times New Roman', Times, serif;
}

.back {
	animation-name: back-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 50% 0%;
}
@keyframes back-animation {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(0);
	}
}

.arrow {
	animation-name: arrow-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 50% 0%;
}
@keyframes arrow-animation {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(0);
	}
}

