@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;600&family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playball&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
	font-size: 10px;
	font-family: 'Times New Roman', Times, serif;
}

a{
	text-decoration: none;
	color: #eee;
}

body{
	width: 100%;
	height: 200vh;
    background-color: #03010f;
	background-size: cover;
	position: relative;
    overflow-x: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 1rem;
	font-style: italic;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}


nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(24, 1, 1, 0.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}

.overlay.menu-open,
    nav.menu-open{
	display: flex;
	transform: scale(1);
	opacity: 1;
}

}

#about{
	font-family: 'Times New Roman', Times, serif;
}


.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.skill-lockup {
	max-width: 450px;
	width: 100%;
	float: left;
	margin-right: 40px;
}

.mr {
	margin-right: 0;
}

.mb {
	margin-bottom: 5px;
}

.skill-info {
	display: block;
	margin-bottom: 20px;
}

.skill-name {
	float: left;
	color: #666;
}

.skill-status {
	float: right;
	color: #c4c4c4;
	font-size: .8em;
}
.skill-bar {
	display: block;
	max-width: 450px;
	width: 100%;
	height: 5px;
	background: #e3e3e5;
	clear: both;
	margin: 20px 0;
}

.skill-level {
	display: table;
	height: 5px;
}
.html, .css,
.angular, .python,
.frameworks, .soft {
	background: hsl(346, 87%, 42%);
}

.html {
	width: 85%;
	-webkit-animation: html 10s linear;
	animation: html 10s linear;
}

.css {
	width: 75%;
	-webkit-animation: css 10s linear;
	animation: css 10s linear;
}

.angular {
	width: 40%;
	-webkit-animation: angular 10s linear;
	animation: angular 10s linear;
}

.python {
	width: 50%;
	-webkit-animation: python 10s linear;
	animation: python 10s linear;
}

.frameworks {
	width: 75%;
	-webkit-animation: frameworks 10s linear;
	animation: frameworks 10s linear;
}

.soft {
	width: 70%;
	-webkit-animation: soft 10s linear;
	animation:soft 10s linear;
}


/*-----------------------
	Animations 
-------------------------*/ 
@-webkit-keyframes html {
	from { width: 0%; }
	to { width: 85%; }
}

@keyframes html {
	from { width: 0%; }
	to { width: 85%; }
}

/*-----------------------
	css Animation 
-------------------------*/
@-webkit-keyframes css {
	from { width: 0%; }
	to { width: 75%; }
}

@keyframes css {
	from { width: 0%; }
	to { width: 75%; }
}

/*-----------------------
	angular Animation 
-------------------------*/ 
@-webkit-keyframes angular {
	from { width: 0%; }
	to { width: 40%; }
}

@keyframes angular {
	from { width: 0%; }
	to { width: 40%; }
}

/*-----------------------
Python Animation 
-------------------------*/ 
@-webkit-keyframes python {
	from { width: 0%; }
	to { width: 50%; }
}

@keyframes python {
	from { width: 0%; }
	to { width: 50%; }
}

/*-----------------------
frameworks Animation  
-------------------------*/ 
@-webkit-keyframes frameworks {
	from { width: 0%; }
	to { width: 75%; }
}

@keyframes frameworks {
	from { width: 0%; }
	to { width: 75%; }
}

/*-----------------------
	soft Animation  
-------------------------*/ 
@-webkit-keyframes soft {
	from { width: 0%; }
	to { width: 70%; }
}

@keyframes soft {
	from { width: 0%; }
	to { width: 70%; }
}


/*-----------------------
	Media queries
-------------------------*/ 


@media screen and (max-width: 955px) {
	.skillset {
		padding: 20px;
	}
	.skill-lockup {
		max-width: 700px;
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	.skill-bar {
		max-width: 700px;
		width: 100%;
	}
}