{% extends 'base.html' %}

{% block content %}
<div class="row container mt-5">
    {% for profile in profile %}
<div class="col-md-7">
<div class="container text-light" >
<h1 class="mt-5">Hello There! <span class="wave">&#128075;</span></h1>
<h1 class="mt-5">I am {{profile.name}}</h1>
<p class='mt-5'style="font-size: 1.6rem;">{{profile.about}}</p>
<!-- links start -->
<div class="links">
<a class="btn btn-dark" href="{{profile.github}}"><i class="fab fa-github"></i></a>
<a class="btn btn-primary" href="{{profile.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
<a class="btn btn-primary" href="{{profile.facebook}}"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-info" href="{{profile.twitter}}"><i class="fab fa-twitter"></i></a>
</div>
<!-- endlinks -->
<div class="mb-5 mt-5">
<a class="btn btn-lg btn-primary" href="mailto:{{profile.contact}}">Contact</a>
<a class="btn btn-lg btn-primary ms-5" href="{{profile.resume}}">Resume</a>
</div>
</div>
</div>

<div class="col-md-5 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
    <img src="{{profile.profile_pic.url}}" alt="" class="img-fluid" width="70%" height="70%">
</div>
{% endfor %}
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br>
<!-- about -->
<div id="about">
<div class="row container text-light">
{% for about in about %}
<!-- about pic -->
<div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
        <img src="{{about.about_pic.url}}" alt="" class="img-fluid" width="70%" height="70%">
</div>
<!-- endpic -->
<div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300" style="margin-top: 7%;">
    <h1>{{about.title}}</h1>
    <p style="font-size: 1.6rem;">{{about.about}}</p>
    <a href="" class="btn btn-danger"><i class="fab fa-html5"></i></a>
    <a href="" class="btn btn-primary"><i class="fab fa-css3"></i></a>
    <a href="" class="btn btn-info"><i class="fab fa-python"></i></a>
    <a href="" class="btn btn-danger"><i class="fab fa-angular"></i></a>
    <a href="" class="btn btn-primary"><i class="fab fa-figma"></i></a>
    <a href="" class="btn btn-danger"><i class="fab fa-git"></i></a>
    <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
    <br> <br> <br>
    <a href="/" class="btn btn-warning ms-5"><i class="fas fa-arrow-up"></i></a>Back To The Top

</div>
<!-- about descr -->
{% endfor %}
</div>
</div>
{% endblock %}