{% extends 'base.html' %}

{% block content %}
<div class="row container mt-5">
    {% for profile in profile %}
<div class="col-md-7">
<div class="container text-light" >
<h1 class="mt-5">Hello There! <span class="wave">&#128075;</span></h1>
<h1 class="mt-5 typed-out">I am {{profile.name}}</h1>
<p class='mt-5'style="font-size: 1.6rem;">{{profile.about}}</p>
<!-- links start -->
<div class="links">
<a class="btn btn-dark" href="{{profile.github}}"><i class="fab fa-github"></i></a>
<a class="btn btn-primary" href="{{profile.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
<a class="btn btn-primary" href="{{profile.facebook}}"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-info" href="{{profile.twitter}}"><i class="fab fa-twitter"></i></a>
</div>
<!-- endlinks -->
<div class="mb-5 mt-5">
<a class="btn btn-lg btn-primary" href="mailto:{{profile.contact}}">Contact</a>
<a class="btn btn-lg btn-primary ms-5" href="{{profile.resume}}">Resume</a>
</div>
</div>
</div>

<div class="col-md-5 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
    <img src="{{profile.profile_pic.url}}" alt="" class="img-fluid" width="70%" height="70%">
</div>
{% endfor %}
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br>
<!-- about -->
<div id="about" style="height: 70vh;">
<div class="row container text-light">
{% for about in about %}
<!-- about pic -->
<div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
        <img src="{{about.about_pic.url}}" alt="" class="img-fluid" width="70%" height="70%">
</div>
<!-- endpic -->
<div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300" style="margin-top: 7%;">
    <h1>{{about.title}}</h1>
    <p style="font-size: 1.6rem;">{{about.about}}</p>
    <a href="" class="btn btn-danger"><i class="fab fa-html5"></i></a>
    <a href="" class="btn btn-primary"><i class="fab fa-css3"></i></a>
    <a href="" class="btn btn-info"><i class="fab fa-python"></i></a>
    <a href="" class="btn btn-danger"><i class="fab fa-angular"></i></a>
    <a href="" class="btn btn-primary"><i class="fab fa-figma"></i></a>
    <a href="" class="btn btn-danger"><i class="fab fa-git"></i></a>
    <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
    <br> <br> <br>
    <a href="/" class="btn btn-warning ms-5"><i class="fas fa-arrow-up"></i></a>Back To The Top

</div>
<!-- about descr -->
{% endfor %}
</div>
</div>

<!-- skills -->
<div id="skills" style="height: 70vh;">
<div class="col-md-9 initial-1 aos-init text-info container" data-aos="zoom-in" data-aos-delay="300" style="margin-top: 7%;">
    <div class="row container">
        {% for skills in skills %}
            <div class="col-md-8">
                <h1 class="text-center">{{skills.title}}</h1>
                <div class="container">
			<div class="skillset">

				<div class="skill-lockup">
					<span class="skill-name mb">HTML</span><span class="skill-status">85%</span>
					<span class="skill-bar">
						<span class="skill-level  html"></span>
					</span>
				</div><!-- Html end -->

				<div class="skill-lockup mr">
					<span class="skill-name mb">CSS</span><span class="skill-status">75%</span>
					<span class="skill-bar">
						<span class="skill-level css"></span>
					</span>
				</div><!-- css end -->

				<div class="skill-lockup">
					<span class="skill-name mb">Angular</span><span class="skill-status">40%</span>
					<span class="skill-bar">
						<span class="skill-level angular"></span>
					</span>
				</div><!-- angular end -->

				<div class="skill-lockup mr">
					<span class="skill-name mb">Python</span><span class="skill-status">50%</span>
					<span class="skill-bar">
						<span class="skill-level python"></span>
					</span>
				</div><!--python  end -->

				<div class="skill-lockup">
					<span class="skill-name mb">Frameworks</span><span class="skill-status">75%</span>
					<span class="skill-bar">
						<span class="skill-level frameworks"></span>
					</span>
				</div><!-- frameworks end -->

				<div class="skill-lockup mr">
					<span class="skill-name mb">SoftSkills</span><span class="skill-status">70%</span>
					<span class="skill-bar">
						<span class="skill-level soft"></span>
					</span>
				</div>	
			</div><!-- skillset end -->
		</div><!-- container end -->
        {% endfor %}
    </div>
</div>
</div>
<!-- projects -->
<div id="portfolio" style="height: 60vh;">
	<h1 class="text-center text-light">Projects</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 container">
{% for project in project %}
<img src="{{project.project_img.url}}" class="img-fluid" alt="Image"  width="100" data-bs-toggle="modal" data-bs-target="#exampleModal{{project.id}}">
<!-- Modal -->
<div class="modal fade" id="exampleModal{{project.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Project Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h2>{{project.title}}</h2>
		<img src="{{project.project_img.url}}" class="img-fluid" alt="Image"  width="100"> <p></p>
		<a class="btn  btn-lg btn-info" href="{{project.url}}">View Site</a>
    </div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}